body{
	background-color: #f5f5f5;	
}
/*/////////////////////////////tabbar////////////////////////////////*/
.tabbar {
    background: white;
    padding: 10px 0 6px 0;
    width: 100%;
    position: fixed;
    /*left: 0;*/
    bottom: 0;
}
.tabbar ul {
    height: 0px;
}
.tabbar ul li {
    float: left;
    width: 25%;
    text-align: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.tabbar ul li span {
    display: block;
    color: #909090;
    font-size: 14px;
    font-family: "微软雅黑";
    line-height: 22px;
}
.tabbar ul li a .ClickTitle{
	 
    color: #EE8131;
 
}
.tabbar ul li a .noClickTitle{
	
    color: #909090;
   
}
a {
    color: #000;
    text-decoration: none;
}
* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
}
/*/////////////////////////////nav////////////////////////////////*/
.nav{
     position: fixed;
     background: #383838;
     padding: 36px 0 11px 0;
     text-align: center;
     width: 100%;
     top: 0;
	
}

.nav .back_icon{
	float: left;
}
.nav span{
	color: white;
	line-height: 30px;
}
.nav .back_title{
	float: left;
}
.nav .title{
	font-size: 18px;
}
 .nav .share_icon{
   float: right;   
   margin-right: 14px;
}
/*swiper*/
.swiper-container {
	
	top: 149px;
    width: 100%;
    height: 180px;
} 